<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Stylesheet link -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <!-- jQuery link -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <title>Burgers Main</title>

</head>
<body>
<div class="grid">
    <div class="title">
        <h1>Dream Burgers</h1>
        <h3>Where you get to create the burgers of your dreams</h3>
        <hr>
    </div>

    <div class="burgerform">
          <div class="form-group">
            <label for="formGroupExampleInput">Indulge Yourself!</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter the Burger of Your Dreams">
            </div>
            <button id="submitBurger" type="submit">Submit</button>
    </div>

    <div class="burgerpic">
       <img src="/assets/images/burger.jpeg" alt="burger" height="275px" width="275px">
    </div>

    <div class="enteredburgers">
        {{{body}}}
    </div>

    <div class="eatenburgers">
        <ol>
            <li>Eaten Burger One</li>
            <li>Eaten Burger Two</li>
            <li>Eaten Burger Three</li>
        </ol>
    </div>

    <div class="footer">
        <hr>
        <p> &copy; DG Web Application Enterprises</p>
    </div>

    <script type="text/javascript" src="assets/js/logic.js"></script>

</body>
</html>