<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Burgers Main</title>
</head>
<body>
<div class="grid">
    <div class="title">
        <h1>Dream Burgers</h1>
        <h4>Where you get to create the burgers of your dreams...</h4>
        <hr>
    </div>

    <div class="burgerform">
          <div class="form-group">
            <label for="formGroupExampleInput">Indulge Yourself!</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter the Burger of Your Dreams">
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div class="burgerpic">
       <img src="/images/burger.jpeg" alt="burger" height="300px" width="300px"> 
    </div>

    <div class="enteredburgers">
        <ol>
            <li>Burger One</li>
            <li>Burger Two</li>
            <li>Burger Three</li>
        </ol>
    </div>

    <div class="eatenburgers">
        <ol>
            <li>Eaten Burger One</li>
            <li>Eaten Burger Two</li>
            <li>Eaten Burger Three</li>
        </ol>
    </div>

    <div class="footer">
        <hr>
        <p> &copy; DG Web Application Enterprises</p>
    </div>
<!-- </div>

    </header> -->
<!--     <div>
        <p>Write a description of your dream burger here:</p>
        <form action="/" method="POST">
            <textarea type="text" name="burger"></textarea>
        </form>
    </div> -->

</body>
</html>