<!-- 
    <ul>
        {{#each burgers}}
            <li>
                {{this.id}}
                {{this.burger_name}}
            </li>
        {{/each}}
    </ul>
 -->

<!-- Format that could be used for eating burgers -->

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Your Burgers</h3>
    </div>
    <div class="panel-body">
        <form action="/{{!this.id}}?_method=DELETE" method="POST">
            <button type="submit">Eat It!</button>
        </form>
    </div>
</div>



